policy_module(polis, 1.100.1)

########################################
#
# Declarations
#

type polis_t;
type polis_exec_t;
init_daemon_domain(polis_t, polis_exec_t)

permissive polis_t;

type polis_initrc_exec_t;
init_script_file(polis_initrc_exec_t)

type polis_conf_t;
files_type(polis_conf_t)

type polis_var_lib_t;
files_type(polis_var_lib_t)

type polis_var_run_t;
files_type(polis_var_run_t)

type polis_port_t;
corenet_port(polis_port_t)

########################################
#
# polis local policy
#
allow polis_t self:process { fork };

allow polis_t self:fifo_file rw_fifo_file_perms;
allow polis_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(polis_t, polis_conf_t, polis_conf_t)
manage_files_pattern(polis_t, polis_conf_t, polis_conf_t)

manage_dirs_pattern(polis_t, polis_var_lib_t, polis_var_lib_t)
manage_files_pattern(polis_t, polis_var_lib_t, polis_var_lib_t)
files_var_lib_filetrans(polis_t, polis_var_lib_t, { dir file })

manage_dirs_pattern(polis_t, polis_var_run_t, polis_var_run_t)
manage_files_pattern(polis_t, polis_var_run_t, polis_var_run_t)

sysnet_dns_name_resolve(polis_t)
corenet_all_recvfrom_unlabeled(polis_t)

allow polis_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(polis_t)
corenet_tcp_sendrecv_generic_node(polis_t)
corenet_tcp_sendrecv_all_ports(polis_t)
corenet_tcp_bind_generic_node(polis_t)

gen_require(`
    type polis_port_t;
')
allow polis_t polis_port_t:tcp_socket name_bind;

gen_require(`
    type polis_port_t;
')
allow polis_t polis_port_t:tcp_socket name_connect;

domain_use_interactive_fds(polis_t)

files_read_etc_files(polis_t)

miscfiles_read_localization(polis_t)

sysnet_dns_name_resolve(polis_t)

allow polis_t polis_exec_t:file execute_no_trans;
allow polis_t self:process setsched;
corecmd_exec_ls(polis_t)
corenet_tcp_connect_http_port(polis_t)
dev_read_urand(polis_t)
fs_getattr_xattr_fs(polis_t)
kernel_read_system_state(polis_t)
