# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit polisd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/polispay/polis.conf

[Unit]
Description=Polis daemon
After=network.target

[Service]
ExecStart=/usr/bin/polisd -daemon -conf=/etc/polispay/polis.conf -pid=/run/polisd/polisd.pid
# Creates /run/polisd owned by polis
RuntimeDirectory=polisd
User=polis
Type=forking
PIDFile=/run/polisd/polisd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
